.blog-section {
    text-align: center; 
}

.blog-heading h2, .latest-news-heading h3 {
    margin-bottom: 20px; 
}

.blue-heading h2 {
    color: #2AA7FF; 
}


.blog-content-wrapper {
    display: flex;
    flex-wrap: wrap; 
}

.blog-content {
    flex: 0 0 calc(33.33% - 20px); 
    margin: 10px; 
}

.blog-image img {
    width: 100%; 
    height: auto; 
}

.blog-image {
    padding: 0 40px; 
}